@page "/"
@using BlazorApp.Client.Data.Models
@using BlazorApp.Shared
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@inject HttpClient Http
@inject ApplicationDbContext _context;
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<h3>BLM Projects</h3>

<div id="viewDiv" style="height:600px;margin:10px"></div>


@if (plans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>
                <th>Name</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.Number</td>
                    <td>@plan.Name</td>
                    <td>@plan.Status</td>
                    <td>
                        <a href="@plan.ePLink">Link</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (approvedPlans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>
                <th>Name</th>
                <th>Status</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in approvedPlans)
            {
                <tr>
                    <td>@plan.Number</td>
                    <td>@plan.Name</td>
                    <td>@plan.Status</td>
                    <td>
                        <a href="@plan.ePLink">Link</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>                
                <th>Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.Number</td>
                    <td>@project.Name</td>
                    <td>@project.Status</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private NEPAProject[] projects = new NEPAProject[] { };
    private Plan[] plans = new Plan[] { };

    private static List<Plan> approved = new();

    private Plan[] approvedPlans = new Plan[] { };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("renderMap");
        }

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            approvedPlans = await Http.GetFromJsonAsync<Plan[]>("/api/Plans") ?? new Plan[] { };

            projects = await _context.NEPAProjects.ToArrayAsync();
            plans = await _context.Plans.ToArrayAsync();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }
}
