@page "/"
@using BlazorApp.Client.Data.Models
@using BlazorApp.Shared
@using Microsoft.EntityFrameworkCore
@inject HttpClient Http
@inject ApplicationDbContext _context;


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}


@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.Number</td>
                    
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private WeatherForecast[] forecasts = new WeatherForecast[] { };
    private NEPAProject[] projects = new NEPAProject[] { };
    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("/api/WeatherForecast") ?? new WeatherForecast[] { };

            projects = await _context.NEPAProjects.ToArrayAsync();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

        

    }
}
