@page "/"

@using BlazorApp.Shared
@using Microsoft.EntityFrameworkCore
@using System.Text.Json
@inject HttpClient Http
@inject ApplicationDbContext _context;
@inject IJSRuntime JsRuntime

<PageTitle>Home</PageTitle>

<h1>BLM Projects</h1>


<div>
    <h3>Map Data</h3>
    <p>
        This map is using the <a href="https://developers.arcgis.com/javascript/latest/">ArcGIS Maps SDK</a> to display the interactive features from the
        BLM FeatureServer (<a target="_blank" href="https://services1.arcgis.com/KbxwQRRfWyEYLgp4/arcgis/rest/services/BLM_Natl_Land_Use_Plans_Approved_2022/FeatureServer/1">Approved Layer</a>, <a href="https://services1.arcgis.com/KbxwQRRfWyEYLgp4/ArcGIS/rest/services/BLM_Natl_Revision_Development_Land_Use_Plans/FeatureServer/0">In Development Layer</a>)


    </p>
</div>
<div id="viewDiv" style="height:600px;margin:10px"></div>

<div>

    https://www.blm.gov/programs/planning-and-nepa/plans-in-development

    

</div>

<div>
    <h3>BLM Plans Under Revision or Development</h3>
    <p>
        This dataset was downloaded as a GeoJSON file 
        from the <a target="_blank" href="https://gbp-blm-egis.hub.arcgis.com/datasets/BLM-EGIS::blm-natl-revision-development-land-use-plans/explore">ArcGIS Hub</a> 
        and processed for display using an In-Memory database.  
    </p>
</div>

@if (plans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>
                <th>Name</th>
                <th>Status</th>
                <th>ePlanning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in plans)
            {
                <tr>
                    <td>@plan.Number</td>
                    <td>@plan.Name</td>
                    <td>@plan.Status</td>
                    <td>
                        <a target="_blank" href="@plan.ePLink">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<div>
    <h3>BLM Approved Project Plans</h3>
    <p>
        This dataset is downloaded dynamically using an <a href="https://github.com/bwinklesky/onX/blob/67978e5064bb622c91952353af3e592d728d63cc/Api/PlansFunction.cs#L30">Azure function and C# to convert from JSON</a> to a data model.
        from the <a target="_blank" href="https://services1.arcgis.com/KbxwQRRfWyEYLgp4/arcgis/rest/services/BLM_Natl_Land_Use_Plans_Approved_2022/FeatureServer/1/query">BLM ArcGIS Feature Server</a>
        and processed for display using an API.
    </p>
</div>

@if (approvedPlans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>
                <th>Name</th>
                <th>Status</th>
                <th>ePlanning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in approvedPlans)
            {
                <tr>
                    <td>@plan.Number</td>
                    <td>@plan.Name</td>
                    <td>@plan.Status</td>
                    <td>
                        <a target="_blank" href="@plan.ePLink">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



<div>
    <h3>BLM NEPA Projects</h3>
    <p>This dataset is pulled from the <a href="https://eplanning.blm.gov/eplanning-ui/home">BLM National NEPA Register</a> as a CSV and converted
        to a data model for <a href="https://github.com/bwinklesky/onX/blob/67978e5064bb622c91952353af3e592d728d63cc/Client/Program.cs#L36">display using C#</a>.

    </p>
    <p class="text-danger bg-warning p-2">
        Unfortunately, the comment period dates are not published in any of the datasets.  
        However, an <a href="https://github.com/bwinklesky/onX/blob/4009cc37233f93e5d53ee23167a4669603fe1c6c/Api/PlansFunction.cs#L54">intial attempt</a> was made to scrape the ePlanning project pages to collect the dates.  
    </p>
</div>

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>NEPA #</th>                
                <th>Name</th>
                <th>Status</th>
                <th>Office</th>
                <th>Fiscal Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.Number</td>
                    <td>@project.Name</td>
                    <td>@project.Status</td>
                    <td>@project.LeadOffice</td>
                    <td>@project.FiscalYear</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private NEPAProject[] projects = new NEPAProject[] { };
    private Plan[] plans = new Plan[] { };

    private static List<Plan> approved = new();

    private Plan[] approvedPlans = new Plan[] { };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("renderMap");
        }

    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            approvedPlans = await Http.GetFromJsonAsync<Plan[]>("/api/Plans") ?? new Plan[] { };

            projects = await _context.NEPAProjects.ToArrayAsync();
            plans = await _context.Plans.ToArrayAsync();

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }

    }
}
